
.button {
    background-color: green; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.homebutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    margin-right: 10px;
}

.loginbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    margin-left: 10px;
}

.tablestyle {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    .tablestyle td, .tablestyle th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .tablestyle tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .tablestyle tr:hover {
        background-color: #ddd;
    }

    .tablestyle th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #4CAF50;
        color: white;
    }

    .modaltitle {
        width: 50%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin-left: 90px;
        border: none;
        border-radius: 4px;
        text-align: center;
    }

    .modal {
        align-content: center;
        width: 600px;
        margin-left: 550px;
    }

.secondary {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}